---
import Layout from '@pages/en/layout-en.astro';
---

<Layout>
    <div>
        <title>About</title>
        <div class='mx-auto px-5 max-w-200 text-xl'>
            <p>
                Hey, I'm Adam (or Garu).
                <br />
                This is my portfolio! Here I display information that is relevant to my programming endeavours.
                <br />
                I'm a first year Software Engineering student at ÉTS. I have completed a lot of my mandatory software classes, including classics such
                as Data Structures and Algorithms.
                <br />
                My current interests are web dev, game dev and cybersecurity!
            </p>
            <br />
            <p>
                For web development, I am proficient in a wide variety of web technologies. I know my basics very well, and I like to use React for
                some of my projects. I like to experiment with 3D in the web using React Three Fiber. I am able to adapt quickly to new frameworks and
                libraries.
            </p>
            <br />
            <p>
                On the game development side of things, I like to use Unity. I am a member of my university's interactive media club, Conjure. There,
                I work as a programmer, implementing new features every week to a video game we are working on. In my off time, I like to experiment
                by recreating mechanics from existing video games. I have also recently started working on my own video game as a solo project.
            </p>
            <br />
            <p>
                While I am new to the world of cybersecurity, I have a lot of ambition to learn more about the topic. My goal is to participate in
                CTFs through my university's competition delegation. I do CTF exercises in my off time and go to weekly practices to work towards that
                goal.
            </p>
            <br />
            <p>
                While these are my main interests, I have many other skills. I am comfortable with Java, C++, C# and SQL, as well as some languages
                with more specific use cases such as GLSL. I have worked on Android projects in the past and understand the fundamentals of UI/UX
                design. Through many different classes, I have also accumulated knowledge on more project related topics such as software analysis and
                design.
            </p>
            <br />
            <p>If you want to contact me, here is my e-mail address:</p>
            <a href='mailto:garutako@garutako.com' class='underline'>garutako@garutako.com</a>
            <br /><br />
            <p class='text-sm'>P.S: I am looking for an internship, so don't hesitate if you have an open position :)</p>
        </div>
    </div>
</Layout>
