---
import '@src/global.css';
import '@fontsource/major-mono-display';
const pathName = Astro.url.pathname;
---

<html>
    <head>
        <meta charset='utf-8' />
        <link rel='sitemap' href='/sitemap-index.xml' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <meta name='viewport' content='width=device-width' />
    </head>
    <body>
        <div class='header sticky z-[100] top-[0] flex p-5 bg-(--background) text-lg' id='header'>
            <a href={'/en'} class='cursor-pointer'>
                <div class='header-logo m-auto sm:py-5 sm:px-5 text-[1.5em]'>Garutako</div>
            </a>
            <div class='flex flex-auto flex-wrap justify-end m-auto gap-3 text-[1.'>
                <a href={'/en/projects'}>
                    <div class='pl-3 sm:pr-3 sm:py-2 cursor-pointer'>Projects</div>
                </a>
                <a href={'/en/blog'}>
                    <div class='pl-3 sm:pr-3 sm:py-2 cursor-pointer'>Blog</div>
                </a>
                <a href={'mailto:garutako@garutako.com'}>
                    <div class='pl-3 sm:pr-3 sm:py-2 cursor-pointer'>Contact</div>
                </a>
                <a href={'/fr' + pathName.slice(3)}>
                    <div class='pl-3 sm:pr-3 sm:py-2 cursor-pointer'>FR</div>
                </a>
            </div>
        </div>
        <div class='flex justify-center items-center'>
            <div id='page-container' class='w-full mx-3 px-5'>
                <slot />
            </div>
        </div>
    </body>
</html>
