@import 'tailwindcss';

:root {
    font-size: 1.2rem;
    scrollbar-width: thin;
    --background: #ffffff;
    --foreground: #171717;
    /* --flavor: #2c19ff; */
    --flavor: var(--foreground)
    --center: 960px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ffffff;
        /* --flavor: #4af626; */
    }
}

/* Fix overflow */
html,
body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 5px solid var(--foreground);
    border-bottom-color: var(--background);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.00em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}


a {
  font-weight:bolder;
}