@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

/* Fonts
    Gidole
    Rambla
    Ubuntu
*/

:root {
    --background: #ffffff;
    --foreground: #171717;
    --flavor: #2c19ff;
    --center: 960px;
    font-size: 1.1rem;
    scrollbar-width: thin;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ffffff;
        --flavor: #4AF626;
    }
}


/* Fix overflow */
html,
body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
}

body {
    font-family: 'Rambla';
    background: var(--background);
    color: var(--foreground);
}

.loading {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 