@import 'tailwindcss';

@theme {
    --font-mono: 'Red Hat Mono', monospace;
    --font-banner: 'Major Mono Display', monospace;
}

:root {
    font-size: 1rem;
    font-family: var(--font-mono);
    scrollbar-width: thin;
    --background: #f4f4f4;
    --foreground: #171717;
    --flavor: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #f4f4f4;
    }
}

@media screen and (min-width: 640px) {
    :root {
        font-size: 1.2em;
    }
}

html,
body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
}

body {
    background: var(--background);
    color: var(--foreground);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

a {
    font-weight: 600;
    text-decoration: underline;
}
