---
import Layout from '@pages/fr/layout-fr.astro';
---

<Layout>
    <div>
        <title>À propos</title>
        <div class='mx-auto px-5 max-w-200 text-xl'>
            <p>
                Bonjour, je suis Adam (ou Garu).
                <br />
                Voici mon portfolio! Ici, je présente des informations liées à mes activités en programmation.
                <br />
                Je suis étudiant en première année de génie logiciel à l'ÉTS. J'ai complété plusieurs cours obligatoires en informatique, incluant des
                classiques tels que: Structures de Données et Algorithmes.
                <br />
                Mes principaux centres d'intérêt sont le développement web, le développement de jeux vidéo et la cybersécurité.
            </p>
            <br />
            <p>
                En ce qui concerne le développement web, je maîtrise une assez grande variété de technologies. Je possède de solides bases en web et
                j'utilise fréquemment React pour mes projets. J'aime bien expérimenter avec la 3D sur le web à l'aide de React Three Fiber. Je suis
                capable de m'adapter facilement à de nouveaux frameworks et bibliothèques.
            </p>
            <br />
            <p>
                Concernant le développement de jeux vidéo, j'utilise principalement Unity. Je suis membre du club de médias interactifs de mon
                université, Conjure, où j'occupe le poste de programmeur. Je contribue chaque semaine à l'ajout de nouvelles fonctionnalités à un jeu
                vidéo en développement. Durant mon temps libre, j'aime recréer des mécaniques de jeux existants et j'ai récemment entrepris la
                création solo de mon propre jeu vidéo.
            </p>
            <br />
            <p>
                Bien que je débute dans le domaine de la cybersécurité, j'ai une grande motivation à approfondir mes connaissances. Mon objectif est
                de participer à des compétitions de type CTF au sein de la délégation de mon université. Je m'entraîne régulièrement à travers des
                exercices et des séances hebdomadaires de pratique afin d'atteindre ce but.
            </p>
            <br />
            <p>
                En dehors de ces domaines, je possède tout de même de nombreuses autres compétences. Je maîtrise Java, C++, C# et SQL, ainsi que
                certains langages plus spécialisés tels que GLSL. J'ai déjà travaillé sur des projets Android et je comprends les fondamentaux du
                design UI/UX. Grâce à divers cours, j'ai également acquis des connaissances en gestion de projet, notamment en analyse et conception
                logicielle.
            </p>
            <br />
            <p>Si vous souhaitez me contacter, voici mon adresse e-mail :</p>
            <a href='mailto:garutako@garutako.com' class='underline'>garutako@garutako.com</a>
            <br /><br />
            <p class='text-sm'>
                P.S. : Je suis à la recherche d'un stage, donc n'hésitez donc pas à me contacter si vous avez un poste disponible :)
            </p>
        </div>
    </div>
</Layout>
